<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="SOAPWebServicesModern.Services.GetDataService">
        <endpoint address="/GetDataService" 
                  binding="basicHttpBinding" 
                  contract="SOAPWebServicesModern.Contracts.IGetDataService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>